/* Master style*/
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.leftside {
    display: flex;
}

.nav > .leftside >div {
    margin-right: 20px;
    font-size: 1.0em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom:1px solid black;
}

.nav-link a:hover {
    color: black;
}
.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item {
    position: relative;
}

.potfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

 .img-text:hover .subtitle {
    font-weight: 600;
    color:lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}